@import "variables";

.titlePages{
    color: $colorTitle;
    font-weight:lighter;
    font-family: $fontTitle; 
    text-align: center;
}
@mixin imgAside ($alto, $padding, $transition){
        height: $alto;
        padding: $padding;
        transition: $transition;
    
}
.maxWidth{
        max-width: 100%;
        max-height: 100%;
}
/*Grid*/
.grillaBody{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
                        "header header"
                        "menu menu"
                        "presentacion presentacion"
                        "imagen imagen"
                        "section aside"
                        "footer footer"; 
                        .headerPadre{
                            max-width: 100%;
                            height: auto;
                            grid-area: header;
                        }
                        nav{
                            grid-area: menu;    
                        }
                        .presentacion{ 
                            justify-self: stretch;
                            grid-area: presentacion;
                            align-self: center;
                            .titleHome{
                                @extend .titlePages;
                            }
                        }                    
                        body{
                            margin: 0%;
                        }
                        .imagenBody{
                            margin: 0px;
                            width: 100%;
                            height: 100%;
                            align-items: center;
                            justify-items: center;
                            grid-area: imagen;
                            .carousel-item{
                                transition: 1s;
                            }
                        }
                        .section{
                            font-size: 20px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: lighter;
                            grid-area: section;
                            justify-self: center;
                            align-self: center;
                            padding: 24px;
                            position: relative;
                            justify-content: center;
                            &__title{
                                font-size: 30px;
                                font-family: $fontTitle;
                                color: darken($colorTitle, 30%);
                                font-weight: 500;
                                justify-self: center;
                                padding-left: 12px;
                            }
                            &__text{
                                padding: 12px;
                            }
                            &__card{
                                display: flex;
                                justify-content: center;
                            }
                        }
                        

}
/*Form*/

.grillaBodyForm{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
                         "menu"
                         "mainForm"
                         "footer";                   

                         .mainForm{
                            margin: 20px;
                            display: flex;
                            .mapForm{
                                justify-self: center;
                                margin-top: 150px;
                            }
                            fieldset{
                                color: dodgerblue;
                                margin-top: 100px;
                            }  
                            form{
                                font-family: 'Roboto', sans-serif;
                        
                                legend{
                                    font-family: 'Roboto', sans-serif;
                                }

                                .modal-body{
                                    color: black;
                                }
                            }
                            .back{ 
                                margin-top: 20px;
                            }
                            .iframeForm{
                                max-width: 100%;
                            }
                        }
}
/*estilo p y a*/
p{
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
/*grilla tabla*/

.grillaBodyTabla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header"
                         "menu"
                         "mainTabla"
                         "footer";
                         

                         .tablePadre{
                            grid-area: mainTabla;
                            margin: 20px + 10px;
                            height: calc(100vh - 100px -100px);
                            justify-items: center;
                            font-family: 'Roboto';
                            &__title{
                                @extend .titlePages;
                            }
                            
                            &__img{
                                width: 100%;
                                margin: 0px;
                            }
                            .tablePadre__titleDos{
                                
                                @extend .titlePages;
                                font-weight: 300;

                            }                              
                            &__cruzTabla{
                                color: $colorCruz;
                                width: 100px;
                                margin: 0%;
                                text-align: center;
                            }
                            &__checkTabla{
                                width: 100px;
                                color:$coloarCheck;
                                margin: 0%;
                                text-align: center;
                            }
                            
                        }
}
/*cv*/
.grillaBodyCv{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
                         "menu"
                         "mainCV"
                         "footer";
                         .cv{
                            height: 100%;
                            margin: 10px;
                            grid-area: mainCV;
                            &__title{
                                @extend .titlePages;
                            }
                            &__img{
                                width: 100%;
                                justify-self: center;
                            }
                            &__text{
                                margin-top: 50px;
                            }
                            .textCv{
                                font-family: 'Roboto', sans-serif;
                                margin-top: 20px;
                            }
                            .imgTeam{
                                max-width: 50%;
                                max-height: 100%;
                            }
                         }
}

.aside{
    max-width: 100%;
    max-height: 100%;
    padding: 12px;
    grid-area: aside;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "imgUno imgDos"
                         "imgTres imgCuatro";
    &__imgUno{
        @include imgAside($alto, $padding, $transition);
        grid-area: imgUno;
    }
        &__imgUnoHijo{
            @extend .maxWidth;
    }
    &--activo :hover{
        transform: scale(1.1,1.1);     
    }
    
    &__imgDos{
        @include imgAside($alto, $padding, $transition); 
        grid-area: imgDos;    
         &__imgDosHijo{
            @extend .maxWidth;
        }
    }
    &__imgTres{
        @include imgAside($alto, $padding, $transition);
        grid-area: imgTres;
         &__imgTresHijo{
            @extend .maxWidth;
        }
    }
    &__imgCuatro{
        @include imgAside($alto, $padding, $transition);
        grid-area: imgCuatro;
        &__imgCuatroHijo{
            @extend .maxWidth;
        }
    }   
}
/*estilo footer*/
.footer{
    font-family: 'Roboto', sans-serif;    
    background: $footerBackground;
    padding: 20px;
    grid-area: footer;
    width: 100%;
    height: 136px;
    &__contenedor{
        display: flex;
        justify-content: space-between;   
    }
    &__estilo{
        color: whitesmoke;
    }
    &__der{
        color: white;
        margin-right: 20px;
    }
    &__iconSocial{
        justify-content: center;
        margin-top: 60px;
    }
    .textSpan{
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .fa-instagram{
        color: white;
        margin: 6px;
    }
    .fab:hover{
        color: rgb(83, 83, 83);
    }
    .fa-facebook{
        color: white;
        margin: 6px;
    }
    .fa-twitter{
        color: white;
        margin: 6px;
    }
    .fa-whatsapp{
        color: white;
        margin: 6px;
    }
}
/*"Comunidad" */
.grillaBodyComunidad{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 4fr 5%;
    grid-template-areas: "header"
                         "menu"
                         "main"
                         "footer";
                         .comunidad{
                            margin: 12px;
                            grid-area: main;
                            &__titulo{
                                @extend .titlePages;
                            }
                            &__contenedor{
                                
                                justify-content: stretch;
                            }
                            &__text{
                                
                                padding: 30px;
                                font-family: 'Roboto', sans-serif; 
                                font-weight: 100;
                                justify-self: center;
                            }
                            &__iframeContenedor{
                                display: flex;
                                justify-content: center;
                            }
                            &__iframe{
                                width: 480px;
                                height: 280px;
                                align-items: flex-end;   
                                justify-self: center; 
                            }
                            .back{
                                margin-top: 12px;
                            }

                        }
}
/*Galeria Flex*/
.grillaBodyGaleria{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 5fr 15%;
    grid-template-areas: "header"
                         "menu"
                         "mainGaleria"
                         "footer";
                         .galeria{
                            grid-area: mainGaleria;
                            height: 100%;
                            &__titulo{
                                @extend .titlePages;
                            }
                            &__contenedor{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                margin: 14px;
                                
                                
                            }
                            &__img{
                                margin: 5px;
                                padding: 10px;
                                align-items: center;
                                justify-content: center;
                                display: flex;  
                                transition: all 1s;  
                            }
                            &__img:hover{
                                transform: scale(2,2);
                            }
                            &__imgHijo{
                                width: 300px
                            }
                            .back{
                                margin-left: 20px;
                            }
                        }
}
/*Descarga*/
.grillaBodyDescarga{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto 4fr 20%;
    grid-template-areas: "header header"
                         "menu menu"
                         "mainDescarga mainImgDesc"
                         "footer footer";  
                         .headerPadre{
                             grid-area: header;
                         }
                         .navbar{
                             grid-area: menu;
                         }
                         .descarga{
                            margin-top: 20px;
                            margin-left: 20px;
                            margin-right: 20px;
                            grid-area: mainDescarga;
                            &__title{
                                @extend .titlePages;
                            }
                            &__img{
                                margin-bottom: 20px;
                            }
                            &__back{
                                font-family: 'Roboto', sans-serif;
                                margin-top: 20px;
                                margin-bottom: 20px;
                            }
                        }
                        .imgDescarga{
                            
                            height: 100%;
                            grid-area: mainImgDesc;
                            padding: 30px;
                            .imgDescargaHijo{
                                max-width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                        .card{
                            margin-top: 12px;
                        }
}
/*MediaQuery*/
        @media only screen and (max-width: 768px){
                 
            .grillaBody{
                grid-template-columns: 100%;
                grid-template-rows: auto auto auto auto auto auto auto;
                grid-template-areas:
                                    "header"
                                    "menu"
                                    "presentacion"
                                    "imagen"
                                    "section"
                                    "aside"
                                    "footer";
            }                   
            
            .comunidad__text{
                width: 80%;
            }
            .grillaBodyDescarga{
                grid-template-columns: 100%;
                grid-template-rows: auto auto auto auto auto;
                grid-template-areas: "header"
                                     "menu"
                                     "mainDescarga" 
                                     "mainImgDesc"
                                     "footer";
            }
            .grillaBodyTabla{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto auto auto auto;
                grid-template-areas: "header"
                                     "menu"
                                     "mainTabla"
                                     "footer";
            }  
            .imgDescarga{
                justify-items: center;
            }
            .mainForm{
                flex-direction: column;
            }
            .col-4{
                width: 100%;
            }
            .grillaBodyForm .mainForm .mapForm{
                margin-top: 50px;
            }
}

        @media only screen and (max-width: 480px) {

               
        
            .aside{
                    grid-template-columns: 100%;
                    grid-template-rows: 25% 25% 25% 25%;
                    grid-template-areas: "imgUno" 
                                         "imgDos"
                                         "imgTres" 
                                         "imgCuatro";
            }   
             
            .comunidad__iframeContenedor{
                   
                    justify-content: center;
            }   
            .comunidad__iframe{
                    width: 65%;
                    height: auto;
                    justify-items: center;       
            }
            .grillaBody{
                grid-template-columns: 100%;
                grid-template-rows: auto auto 0.0457fr 0.1fr .3fr 1fr 10%;
                grid-template-areas:
                                    "header"
                                    "menu"
                                    "presentacion"
                                    "imagen"
                                    "section"
                                    "aside"
                                    "footer";
            }     
                                                               
                                    .aside__imgUno :hover{
                                        transform: scale(1,1); 
                                    }
                                    .aside__imgDos :hover{
                                        transform: scale(1,1);  
                                    }
                                    .aside__imgTres :hover{
                                        transform: scale(1,1);  
                                    }
                                    .aside__imgCuatro :hover{
                                        transform: scale(1,1);  
                                    }    
            .col-8{
                width: 100%;
            }  
            .col-6{
                width: 100%;
            }          
            .comunidad__text{
                width: 100%;
            }    
            .mainForm{
                flex-direction: column;
            }
}
