//variables//
$colorTitle: dodgerblue;
$fontTitle: 'Roboto', sans-serif;
$footerBackground: radial-gradient(circle, rgba(30,205,255,1) 0%, rgba(30,144,255,1) 100%);
$colorImput: rgb(34, 101, 178);
$colorCruz:rgb(194, 21, 21);
$coloarCheck:rgb(12, 129, 12);
$alto: 100%;
$padding: 12px;
$transition: 1s;